* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  /* background: linear-gradient(rgba(0,0,255, 0.7), rgba(255, 255, 0, 0.7)); */
}

.txt-type > .txt {
  border-right: 0.2rem solid #333;
}